# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.venv/
venv/
env/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# PyInstaller
*.spec

# Logs and databases
*.log
*.sqlite3

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
.cache
.pytest_cache/

# MyPy
.mypy_cache/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# macOS and Linux
.DS_Store
